.container {
  font-family: CircularXXWeb, -apple-system, blinkmacsystemfont, Segoe UI,
    roboto, oxygen-sans, ubuntu, cantarell, Helvetica Neue, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e5e5e5;
  background: -webkit-linear-gradient(
    270deg,
    rgba(250, 137, 0, 1) 50%,
    rgba(229, 229, 229, 1) 100%
  );
  text-align: center;
  /* position: relative; */
}

.App-header {
  background-color: #fa8900;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  padding: 3vh;
}

.App-header .headerTitle {
  font-size: 2em;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.modalButton {
  display: inline;
  background: #434343;
  color: #fff;
  border: none;
  width: 60vw;
  padding: 2vh;
  margin: 2vh;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5 em;
  font-family: inherit;
}

.modalButton:focus {
  outline: none;
}

.modalButton:hover {
  background-color: #000;
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.podo-wrapper {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  width: 90vw;
  height: fit-content;
  bottom: 0;
  position: absolute;
}

.podo {
  width: 45vw;
  max-width: 35vh;
  right: 5%;
  margin-bottom: 2%;
}

.previous{
  background-color: inherit;
  border: none;
  margin-top: 15%;
}